@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --textblue: #242F65;
    --textgray: #D9DFF2;
    --textblackish: #2F2F2F;
}

* {
    box-sizing: border-box;
}

@mixin text($font-family: Fraunces, $font-size: 20px, $font-weight: 500, $line-height: 128.5%, $color: var(--textgray)) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    color: $color;
}

@mixin wrapper($display: flex, $justify: space-between, $align: center, $gap: 10px) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin block($mt: 120px, $mb: 70px) {
    margin-top: $mt;
    margin-bottom: $mb;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

img { max-width: 100%; }

.container {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
}

.container-xl {
    width: 100%;
    max-width: 1407px;
    padding: 0 30px;
    margin: 0 auto;
}

.go-to-up {
    display: none;
    &.scrollTop {
        display: block;
        position: fixed;
        top: 45%;
        left: 1%;
        max-width: 100%;
        z-index: 9;
        cursor: pointer;
    }
    font-size: 60px;
}

.titles {
    @include block($mt: 97px, $mb:63px);
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 33px;
    }
    &__leftline {
        width: 100%;
        height: 40px;
        border-bottom: solid 1px #CCC;
        border-right: solid 1px  #CCC;
    }
    &__rightline {
        width: 100%;
        height: 40px;
        border-bottom: solid 1px #CCC;
        border-left: solid 1px  #CCC;
    }
    &__name {
        display: flex;
        gap: 15px;
        align-items: center;
        &-text {
            @include text($font-family: Mulish, $font-weight: 700, $color: var(--textblue));
            text-transform: uppercase;
            letter-spacing: 10px;
        }
    }
}

.header {
    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0px, 3px, 20px, rgba(#000, .05);
        z-index: 9;
        opacity: .95;
    }
    &__wrapper {
        @include wrapper ($gap: 0);
        margin-top: 45px;
    }
    &__navlink {
        display: flex;
        gap: 50px;
        &-text {
            @include text($font-family: Mulish, $font-size: 20px, $font-weight: 600, $line-height: 25.1px, $color: var(--textblackish));
            text-decoration: none;
        }
        li {
            list-style: none;
        }
    }
    &__logo {
        display: flex;
        gap: 10px;
        text-decoration: none;
        &-text {
            margin: 0;
            @include text($font-family: Mulish, $font-size: 37px, $font-weight: 800, $line-height: 40.7px, $color: var(--textblue));
        }
    }
    &__cta {
        display: none;
        &-burger-menu {
            display: flex;
            padding-top: 70px;
            padding-right: 40px;
            padding-left: 40px;
            padding-bottom: 30px;
            position: fixed;
            background-color: #fff;
            right: -50%;
            top: 0;
            transition: all 0.5s ease-in-out;
            box-shadow: 5px 0px 10px 0px #aaa;
            opacity: .95;
            &.show-menu {
                z-index: 2;
                top: 0;
                right: 0;
            }
            &-links {
                list-style: none;
                padding-left: 0;
                margin: 0;
                li {
                    padding: 20px;
                    text-align: center;
                }
                a {
                    font-family: Fraunces;
                    color: #242F65;
                    text-decoration: none;  
                }
            }
        }
        &-burger {
            display: block;
            height: 23px;
            width: 35px;
            position: absolute;
            top: 28px;
            right: 20px;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .line {
                display: block;
                height: 4px;
                width: 100%;
                border-radius: 10px;
                background: #242F65;
            }
            .line1 {
                transform-origin: 0% 0%;
                transition: transform 0.4s ease-in-out;
            }
            .line2 {
                transition: transform 0.2s ease-in-out;
            }
            .line3 {
                transform-origin: 0% 100%;
                transition: transform 0.4s ease-in-out;
            }
        }
        .close-burger{
            .line1 {
                transform: rotate(35deg);
            }
            .line2 {
                transform: scaleY(0);
            }
            .line3 {
                transform: rotate(-35deg);
            }
        }
    }
}

.banner {
    @include block($mt: 4em);
    background: url('../img/banner_background.png') center no-repeat; 
    background-size: 90% 100%;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 160px 0;
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        &-name {
            @include text($font-size: 100px, $font-weight: 600, $line-height: 100px, $color: var(--textblue));
            margin-bottom: 16px;
        }
        &-text {
            width: 50%;
            @include text($font-family: Mulish, $font-size: 50px, $line-height: 64.25px, $color: var(--textblue));
            margin-bottom: 87px;
            span {
                color: #ff774b;
            }
        }
    }
}

.work {
    &__project {
        
        overflow: hidden;
        border-radius: 30px;
        margin-bottom: 140px;
        display: flex;
        padding: 73px 106px;
        justify-content: space-between;
        background-color: #eef0f9;
        .pattern {
            position: absolute;
            z-index: 1;
            background-color: #D9DFF2; 
        }
        &-pattern-1 {
            width: 314px;
            height: 314px;
            border-radius: 100%;
            top: -44%;
            left: -11%;
        }
        &-pattern-2 {
            width: 1300px;
            height: 1300px;
            border-radius: 253px 26px 0 0;
            top: 0%;
            right: -82%;
        }
        &-info {
            width: calc(50% - 57px);
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
            &-title {
                @include text($font-size: 40px, $font-weight: 600, $line-height: 110%, $color: var(--textblue));
            }
            &-subtitle-btn {
                @include text($font-family: Mulish, $font-weight: 600, $color: #6878AC);
                border-radius: 10px;
                border: none;
                padding: 11px 20px;
                font-size: 18px;
                background-color: #D9DEEE ;
            }
            &-text {
                @include text($font-family: Mulish, $font-size: 20px, $line-height: 100%, $color: #525665);
            }
            &-btn {
                padding: 19px 38px;
                border-radius: 10px;
                @include text($font-family: Mulish, $font-weight: 700, $color: #fff);
                border: none;
                text-decoration: none;
                background-color: #FF774C;
            }
        }
        &-illustration {
            position: relative;
            width: calc(50% - 57px);
            &-img1 {
                position: absolute;
                z-index: 1;
                top: -21;
                left: 0;
            }
            &-img2 {
                position: absolute;
                z-index: 2;
                top: 0;
                left: 16%;
            }
        }
    }
}

.about-me-short {
    background-color: #E8EFF0;
    padding-top: 3px;
    padding-bottom: 232px;
    &__wrapper {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__text {
        width: 50%;
        @include text($font-family: Mulish, $font-size: 20px, $color: #525665);
        span {
            color: #FF774C;
        }
    }
    &__btn {
        position: absolute;
        z-index: 1;
        bottom: -40%;
        right: 4%;
        border: none;
        background-color: transparent;
    }
}

.services {
    background: url('../img/services-background.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    .service-backgorund {
        position: absolute;
        z-index: -1;
        left: 23%;
        padding: 282px 189px 167px 164px;
    }
    &__list {
        margin-top: 60px;
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
        &-item {
            width: 31.96%;
            padding: 56px 34px;
            border: solid 1px #E0E0E0;
            border-radius: 20px;
            background-color: #fff;
            &-heading img {
                margin-bottom: 26px;
            }
            &-heading-title {
                @include text($font-size: 30px, $font-weight: 600, $line-height: 110%, $color: var(--textblue));
            }
            &-text {
                @include text($font-family: Mulish, $font-size: 20px, $color: #525665);
                margin-top: 13px;
                margin-bottom: 29px;
            }
            &-field-text {
                @include text($font-family: Mulish, $font-size: 20px, $font-weight: 600, $line-height: 183.5%, $color: var(--textblue));
            }
            &-field {
                ul {
                    padding-left: 5px;
                }
                &-text {
                    display: list-item;
                }
                &-text::marker {
                    color:#FF774C;
                    border-radius: 100%;
                }
            }
        }
    }
    
}

.testimonials {
    &__wrapper {
        @include block($mt: 60px);
        background-color: #FFF4F0;
        padding: 153px 98px;
    }
    &__heading {
        width: 50%;
        &-title {
            @include text($font-size: 40px, $font-weight:  600, $line-height: 100%, $color: var(--textblue));
        }
    }
    &__list {
        @include block($mt: 60px);
        &-item-heading {
            @include wrapper($justify: normal, $gap: 15.5px);
            &-title-name {
                @include text($font-size: 25px, $font-weight: 600, $line-height: 110%, $color: var(--textblue));
                margin: 0;
            }
            &-title-position {
                @include text($font-family: Mulish, $font-size: 20px, $color: #525665);
                margin-top: 5px;
                margin-bottom: 0;
            }
        }
        &-item-content {
            @include wrapper($gap: 20px);
            &-img { padding: 25px 20px; img { height: 46px; width: 46px; max-width: none;}} 
            &-info-text {
                @include text($font-size: 22px, $font-weight: 400, $line-height: 146.5%, $color: #525665);
                margin: 0;
            }  
        }
    }
}

.news {
    &__wrapper {
        @include block($mt: 120px);
        display: flex;
        flex-wrap: wrap;
    }
    .news-item {
        width: 50%;
        margin-top: 60px;
        margin-bottom: 150px;
        .news-title {
            @include text($font-size: 30px, $font-weight: 600, $line-height: 110%, $color: #242F65);
            margin-top: 0;
        }
        .news-description, .news-info {
            @include text($font-family: Mulish, $font-size: 20px, $color: #525665);
        }
        .news-btn {
            @include text($font-family: Mulish, $font-weight: 700, $color: var(--textblue));
            margin-top: 47px;
        }
        .arrow-btn {
            margin-left: 10px;
        }
    }
}

.footer {
    position: relative;
    height: 952px;
    background: #F4EDF8;
    overflow: hidden;
    .circle-1, .circle-2, .circle-3, .line-1, .line-2 { position: absolute; z-index: 0; }
    .circle-1 {
        width: 585px;
        height: 585px;
        background-color: #D5D4FF;
        border-radius: 100%;
        filter: blur(200px);
        top: 19%;
        right: 20%;
    }
    .circle-2 {
        width: 641px;
        height: 563px;
        background-color: #FFD2DD;
        border-radius: 100%;
        filter: blur(200px);
        top: 14%;
        left: 10%;
    }
    .circle-3 {
        width: 112px;
        height: 112px;
        background-color: #FFD2E6;
        border-radius: 100%;
        top: 22%;
        left: 26%;
    }
    .line-1 {
        top: 14%;
        right: 0%;
    }
    .line-2 {
        width: 18%;
        bottom: 27%;
        left: 0%;
    }
    &__wrapper {
        position: absolute;
        z-index: 1; 
        left: 1%;
        
    }
    .container-xl {
        padding: 0;
    }
    &-logo {
        width: 100%;
    }
    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 55px;
        padding-top: 108px;
        padding-bottom: 92px;
        border-bottom: solid 1px #D092BA;
    }
    &__text {
        @include text($font-family: Mulish, $font-size: 50px, $color: var(--textblue));
    }
    &__bottom {
        @include wrapper($justify: center, $gap: 223px);
        padding: 90px 0;
    }
    .socials {
        display: flex;
        gap: 40px;
    }
    &__cta {
        list-style: none;
        li {
            margin: 25px 0;
            @include text($font-size: 25px, $line-height: 110%, $color: var(--textblue));
        }
    }
    .email-cta {
        padding: 35px;
        background-color: #FFF;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 60px;
    }
    .text-cta {
        @include text($font-size: 25px, $line-height: 110%, $color: var(--textblue));
    }
    .email-btn {
        @include wrapper($justify: normal);
        @include text($font-family: Mulish, $font-weight: 700, $color: #fff);
        padding: 17px 28px;
        border: none;
        border-radius: 10px;
        background-color: #242F65;
    }
}


@media screen and (max-width: 1850px) {
    .footer__text { font-size: 44px; }
    .footer__wrapper { left: 2%; }
    .footer .line-2 { bottom: 30%; }
}

@media screen and (max-width: 1750px) {
    .banner__wrapper {
        padding: 160px 420px;
    }
    .banner-text {
        .name { font-size: 90px; }
        .text { font-size: 40px; }
    }
    .testimonials__wrapper { padding: 120px 98px; }
    .footer {
        .footer__wrapper { left: 1%; }
        .line-1 { width: 25%; }
        .line-2 { bottom: 30%; width: 13%; }
        .footer__text { font-size: 40px; }
    }
}
@media screen and (max-width: 1600px) {
    .banner__wrapper {
        padding: 160px 385px;
    }
    .banner-text {
        .name { font-size: 70px; }
        .text { font-size: 35px; }
    }
    .footer {
        .footer__wrapper { left: 2%; }
        .footer__text { font-size: 34px; }
        .footer_bottom { gap: 180px; }
        .footer .text-cta { font-size: 22px; }
    }
    
}

@media screen and (max-width: 1440px) {  
    .container { padding: 0 30px; }
    .work-logo, .about-me__logo, .services-logo, .testimonials-logo, .news-logo {
        width: 100%;
    }
    .banner {
        &__wrapper {
            padding: 90px 250px;
        }
        &-text {
            .text {
                margin-bottom: 50px;
            }
        }
        .scroll_btn { width: 25%; }
    }
    .services {
        &__list { gap: 38px; }
        &__item { width: 30.96%; }
    }
    .testimonials__wrapper { padding: 100px; }

    .footer {
        &__text { font-size: 27px; }
        &__bottom { gap: 100px; }
        .text-cta { font-size: 18px; }
        .email-cta { gap: 40px; }
    }
    
}
@media screen and (max-width: 1199px) {
    .banner {
        &__wrapper { padding: 60px 200px; }
        .name { font-size: 55px; }
        .text { font-size: 30px; }
        .scroll_btn { width: 20%; }
    }
    .work {
        .project {
            .project-text { padding: 50px 95px; }
            .work-pattern { width: 1000px; height: 558px;}
            .work-pattern1 { width: 260px; height: 300px; top:-29%; }
            .project-illustration {
                .project-img1 { top: 19%; right: 12%; }
                .project-img2 { width: 45%; top: 34%; }
            }
            
        }
        .future-projects {
            .container { margin: 0; }
        }
    }
    .about-me {
        &__text { font-size: 18px; }
        &__img { width: 45%; }
        &__resume {
            img { width: 85%; }
        }
    }
    .services {
        &__list {
            justify-content: center;
        }
        &__item { width: 38%; }
    }
    .testimonials {
        &__heading-title { margin-top: 0; }
    }
    .footer {
        height: 740px;
        .footer__wrapper { left: 0 }
        .footer__top { padding-top: 90px; }
        .getintouch-btn {
            img { width: 80%; }
        }
        .footer__text { font-size: 25px; img { width: 30px; } }
        .footer__bottom { padding: 45px; }
        .footer__cta {
            li { font-size: 20px; }
        }
    }
}
@media screen and (max-width: 1024px) {
    .header {
        &__logo {
            .logo { width: 10%; }
            &-text { font-size: 26px; }
        }
        &__navlink {
            .navlink-text { font-size: 16px; }
        }
    }
    .banner {
        &__wrapper {
            padding: 60px 160px;
        }
        &-text {
            .name { font-size: 42px; line-height: 80px; img { width: 10%; } }
            .text { font-size: 22px; line-height: 50px; margin-bottom: 40px; }
        }
    }
    .work {
        margin-top: 70px;
        .project {
            margin-bottom: 100px;
            &-illustration { display: none; }
            .work-pattern { width: 800px; }
            .work-pattern1 { left: -19%; }
            .project-text { width: 80%; }
        }
        .future-projects {
            margin-bottom: 70px;
        }
    }
    .about-me {
        &__wrapper {
            padding: 60px 0 100px 0;
            align-items: center;
        }
        &__text {
            padding-top: 50px;
            font-size: 14px;
        }
        &__img {
            padding-top: 50px;
        }
        &__btn {
            width: 25%;
        }
    }
    .services {
        &__wrapper {
            margin-top: 70px;
        }
        .service-heading { display: flex; gap: 20px; img{ width: 15%;}}
        &__item { padding: 40px 30px; width: 47%;}
        .service-title { font-size: 28px; }
        .service--text { font-size: 18px; }
        .field-text { font-size: 18px;}
    }
    .testimonials {
        .testimonials-logo { margin-top: 70px; }
        &__wrapper { padding: 60px; }
        &__heading { width: 100%; }
    }
    .news {
        &__wrapper { margin-top: 70px; }
        .newsimg { width: 100%; }
    }
    .footer {
        @include block($mt: 80px);
        height: 580px;
        .footer__top { padding: 60px 0; }
        .footer__bottom { gap: 80px; }
        .footer__text { font-size: 18px; }
        .getintouch-btn { width: 15%; img { width: 100%; } }
        .footer__cta { margin-top: 0; padding-left: 20px; li { font-size: 18px; } }
        .socials { gap: 20px; }
        .email-cta { gap: 20px; padding: 20px;}
        .text-cta { margin: 0; }
        .email-btn { width: 50%; padding: 10px 20px; font-size: 14px; }
    }
}
@media screen and (max-width: 767px) {
    .header {
        .logo-text { font-size: 18px; }
        &__navlink { gap: 30px; }
    }
    .banner {
        margin-top: 2em;
        &__wrapper { padding: 40px 90px; }
        .name { font-size: 36px; margin-bottom: 0; img { width: 8%; } }
        .text { font-size: 20px; line-height: 40px; margin-top: 0; margin-bottom: 20px;}
    }
    .work {
        .project {
            .work-pattern { right: -139%; top:-13%; }
            .work-pattern1 { top: -48%; }
            .project-text { width: 94%; padding: 50px 70px;}
            .project-title { font-size: 30px; }
            .project-subtitle-btn { font-size: 14px; }
            .project-description { font-size: 16px; }
            .project-btn { padding: 19px; font-size: 14px;}
        }
        .future-projects {
            .fuproject {
                display: flex;
                flex-direction: column;
                img { width: 100%; }
                .fuproject-btn { width: 50%; }
            }
            
        }
    }
    .about-me {
        &__text { width: 100%; padding-top: 30px;}
        &__img { width: 100%; padding-top: 20px; }
        &__btn { width: 30%; bottom: 4%; }
    }
    .services {
        background: none;
        &__item { width: 60%; }
    }
    .testimonials {
        &__wrapper {
            padding: 40px 60px;
        }
        &__heading-title { font-size: 26px; }
        .tesimonial-img img { width: 80%; }
        .name, .title { font-size: 22px; }
        .text { font-size: 16px; }
    }
    .news {
        .news-item { width: 100%; margin-bottom: 100px;}
    }
    .footer {
        height: 450px;
        .footer__top { padding: 40px 0; gap: 40px;}
        .footer__text { font-size: 14px; img { width: 14px; } }
        .footer__bottom { gap: 50px; padding: 30px;}
        .footer__cta li{ font-size: 14px; }
        .text-cta { font-size: 14px; text-align: center;}
        .email-cta { flex-direction: column; }
        .email-btn { width: 51%; padding: 10px; img { width: 15%; } }
    }
}
@media screen and (max-width: 559px) {
    .container-xl { padding: 0 15px; }
    .header {
        &__navlink { display: none; }
        &__cta { display: block; } 
    }
    .banner {
        &__wrapper { padding: 20px 60px; }
        .name { font-size: 32px; }
        .text { width: 75%; font-size: 18px; }
    }
    .work {
        margin-top: 50px;
        .project { margin: 50px 0; }
        .project-text { width: 100%; padding: 30px 50px; }
        .project .project-title { margin-top: 0; font-size: 28px; }
        .pattern { display: none; }
        .future-projects .container { width: 100%; }
        .fuproject .fuproject-title { font-size: 27px; }
        .future-projects .fuproject-description { width: 100%; font-size: 18px;}
        .fuproject p { margin: 15px 0; }
        .future-projects .fuproject-btn { padding: 12px; }
    }
    .services {
        &__item {
            padding: 10px 30px;
            .service-heading {
                img { width: 12%; }
            }
        }
        .service-title { font-size: 24px; }
        .service-text { font-size: 16px; }
        .field-text { font-size: 16px; }
    }
    .testimonials {
        &__list { margin-top: 45px; }
    }
    .news {
        .news-item {
            margin-bottom: 70px;
            .news-title { font-size: 26px; }
            .news-description { font-size: 18px; }
        }
    }
    .footer {
        height: 420px;
        margin-top: 0;
        .footer__top { padding: 35px 0;}
        .footer__text { padding: 0 17px; }
        .footer__cta { padding-left: 0; margin: 0; li { margin-top: 0; margin-bottom: 20px; } }
        .email-btn { width: 60%; }
        .email-cta { gap: 15px; }
    }
}
@media screen and (max-width: 480px) {
    .header {
        &__burger svg { width: 30px; }
    }
    .banner {
        .name { font-size: 25px; line-height: 55px; }
        .text { font-size: 14px; line-height: 35px; }
    }
    .work {
        .project {
            .project-title { font-size: 24px; }
            .project-text { padding: 40px; }
            .project-subtitle-btn { padding: 11px; }
            .project-btn { padding: 14px 19px; }
        }   
        .future-projects {
            .fuproject{
                .fuproject-title { font-size: 20px; }
                .fuproject-description { font-size: 16px; margin-top: 0;}
                .fuproject-btn { width: 42%; padding: 10px; font-size: 16px;}
            }  
        }
    }
    .about-me {
        &__wrapper {
            padding: 40px 0;
        }
        &__text { margin-top: 0; }
    }
    .services {
        &__wrapper {
            margin-top: 50px;
        }
        &__list {
            margin-top: 50px;
        }
        &__item {
            width: 80%;
        }
    }
    .testimonials {
        &__wrapper {
            padding: 30px 40px;
        }
        &-content { gap: 32px; }
        &__heading-title { font-size: 21px; }
        .testimonial-img img { width: 80%; }
        .testimonials-img { padding: 12px; }
        .name, .title { font-size: 18px; }
        .text { font-size: 12px; }
    }
    .news {
        &__wrapper { margin-top: 50px; }
        .news-item {
            margin-top: 50px;
            .news-info { font-size: 16px; }
            .news-title { font-size: 22px; }
            .news-description { font-size: 16px; }
            .news-btn { font-size: 16px; }
        }
    }
    .footer {
        height: 500px;
        .footer__top {
            gap: 30px;
        }
        .footer__bottom {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
        .email-btn { width: 44%; }
    }
}
@media screen and (max-width: 374px) {
    .banner {
        .name { line-height: 36px; }
        .text { line-height: 28px; }
    }
    .work {
        .project {
            .project-text { padding: 28px; }
            .project-title { font-size: 23px; }
            .project-subtitle-btn { padding: 11px; font-size: 12px; }
            .project-description { margin: 25px 0; }
        }
        .future-projects .fuproject .fuproject-btn { width: 50%; }
        .future-projects .fuproject .fuproject-description { font-size: 14px; }
    }
    .about-me {
        &__wrapper { padding-top: 30px; }
        &__text { margin-top: 0; }
    }
    .services {
        .service-title { font-size: 19px; }
        .service-text, .field-text { font-size: 14px; }
    }
    .testimonials {
        &__wrapper { padding: 30px; }
        &-heading { gap: 0; }
        .name, .title { font-size: 15px; }
        .testimonials-logo, &__wrapper { margin-top: 50px; }
        .testimonials-img { padding: 0 5px; }
    }
    .news {
        .news-item {
            .news-info, .news-description, .news-btn { font-size: 14px; }
            .news-title { font-size: 20px; }
        }
    }
    .footer {
        .email-btn { width: 55%; }
    }
}